<div id="title-info" class="title-info">
  <div id='site-title' class='site-title'>
    {{ if ( ne .Site.Title "" ) }}
    <a href="https://blog.chaudron.de{{ .Site.Params.BaseURL | relLangURL }}"> {{ .Site.Title }} </a>
    {{ end }}</div>
  </div>
  <button id="toggle-navigation" class="toggle-navigation">
    <i class="fas fa-bars"></i>
  </button>

  <div id="menu-primary-tracks" class="menu-primary-tracks"></div>
  <div id="menu-primary" class="menu-container menu-primary" role="navigation">
    {{ with .Site.Params.Slogan }}
    <p class="site-description">{{ . | default "" | safeHTML }}</p>
    {{ end }}

    <div class="menu">
      <ul id="menu-primary-items" class="menu-primary-items">
        {{ $page := . }}
        {{ range .Site.Menus.main }}
        <li class='menu-item {{ if eq ("/") (.URL) }}menu-item-type-custom menu-item-object-custom{{ else }}menu-item-type-post_type menu-item-object-page{{ end }} {{ if $page.IsMenuCurrent "main" . }}current-menu-item current_page_item{{ end }}'>
          <a href="{{ .URL | absURL }}">{{ .Name }}</a>
          {{ if .HasChildren }}
          <ul class="sub-menu">
            {{ range .Children }}
            <li class='menu-item {{ if eq ("/") (.URL) }}menu-item-type-custom menu-item-object-custom{{ else }}menu-item-type-post_type menu-item-object-page{{ end }} {{ if $page.IsMenuCurrent "main" . }}current-menu-item current_page_item{{ end }}'>
              <a href="{{ .URL | absURL }}">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
          {{ end }}
        </li>
        {{ end }}
      </ul>
    </div>

  </div>
