<h1 class="screen-reader-text">Posts</h1>

<div id="loop-container" class="loop-container">
	{{ $paginator := .Paginate (where (where .Site.Pages "Type" "post").ByDate.Reverse "IsPage" true) }}
	{{ range $index, $element := .Paginator.Pages }}
  {{ $scratch := newScratch }}
  {{ if .Site.Params.writers }}
    {{ $scratch.Set "writer" (index .Site.Params.writers (lower .Params.writer) | default dict) }}
  {{ else }}
    {{ $scratch.Set "writer" (.Site.Params.social | default dict) }}
  {{ end }}
  {{ $writer := $scratch.Get "writer" }}
	{{ if and (isset .Params "image") .Params.image }}
	{{ if eq (mod $index 2) 0 }}
	<div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured even excerpt">
		{{ else }}
		<div class="post type-post status-publish format-standard has-post-thumbnail hentry category-design tag-memories tag-normal-post tag-standard-2 excerpt zoom full-without-featured even excerpt">
			{{ end }}
			{{ else }}

			<div class="post type-post status-publish format-standard hentry category-standard category-travel excerpt zoom full-without-featured even excerpt">

				{{ end }}

				{{ if and (isset .Params "image") .Params.image }}
				<a class="featured-image-link" href="{{ .Permalink }}"><div class='featured-image lazy lazy-bg-image' {{if isset .Site.Params "usepostimgfolder"}}data-background="{{ .Permalink }}{{ .Params.image }}"{{ else }}data-background="{{ .Params.image | relURL }}"{{ end }}></div></a>

				{{ end }}
				<div class="excerpt-container">
					<div class="excerpt-meta">
						<span class="date">{{ .Date | time.Format ":date_long" }}</span>	

						{{ if and (isset .Site.Params "authorlink") .Site.Params.authorLink }}
							{{ if and (isset .Site.Params "author") .Site.Params.author }}
							<span> / </span>
						<span class="author">
						<a href="{{ $writer.link | default .Site.Params.authorlink | relURL }}" title="Posts by {{ .Params.writer | default .Site.Params.author }}" rel="author">{{ .Params.writer | default .Site.Params.author }}</a>
						</span>
							{{ end }}
						{{ else }}
						<span class="author">
						{{ .Params.writer | default .Site.Params.author }}
						</span>
						{{ end }}

					</div>
					<div class='excerpt-header'>
						<h2 class='excerpt-title'>
							<a href="{{ .Permalink }} "> {{ .Title }} </a>
						</h2>
					</div>
					<div class='excerpt-content'>
						<article>
							{{ .Summary }}

							<div class="more-link-wrapper"><a class="more-link" href="{{ .Permalink }}">Read the post<span class="screen-reader-text">This is a Standard Post</span></a></div>
						</article>
					</div>
				</div>
			</div>
			{{ end }}
		</div>
